/* Compile order #5 */

:root {
  --main-color: hsl(0, 0%, 100%);
  --main-accent-color: hsl(28, 80%, 52%);
  --main-accent-color-darker: hsl(28, 87%, 45%);
  --main-bg-color: hsl(0, 0%, 100%);
  --main-max-container-width: 1140px;
}

html {
  color: var(--main-color);
  text-rendering: optimizeLegibility;
  font-size: 16px;
  @apply tw-font-light;
  line-height: 1.5;
  background-color: var(--main-bg-color);
}

.br-section {
  @apply tw-h-screen;
  /* avoid bleeding margin from child over parent header*/
  @apply tw-overflow-auto;
}

.br-container-justify-center {
  max-width: var(--main-max-container-width);
  @apply tw-mx-auto;
}

/*-----------------------------------
LINKS
-------------------------------------*/

a {
  @apply tw-inline-block;
  @apply tw-no-underline;
}

.br-link:link,
.br-link:visited {
  border-bottom: 2px solid transparent;
  color: var(--main-color);
  transition: border-bottom 0.2s;
}

.br-link:hover,
.br-link:active {
  border-bottom-color: var(--main-accent-color-darker) !important;
}

/*-----------------------------------
BUTTONS
-------------------------------------*/

.br-btn:link,
.br-btn:visited {
  @apply tw-inline-block;
  @apply tw-rounded-full;
  @apply tw-no-underline;
  @apply tw-text-2xl;
  padding: 0.75rem 2rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.br-btn:hover,
.br-btn:active {
  background-color: var(--main-accent-color-darker) !important;
  border: 1px solid var(--main-accent-color-darker) !important;
  color: var(--main-color) !important;
}

.br-btn-full:link,
.br-btn-full:visited {
  border: 1px solid var(--main-accent-color);
  color: var(--main-color);
  background-color: var(--main-accent-color);
  @apply tw-mr-8;
}

.br-btn-ghost:link,
.br-btn-ghost:visited {
  border: 1px solid var(--main-accent-color);
  color: var(--main-accent-color);
}

/*-----------------------------------
HEADER
-------------------------------------*/

header {
  @apply tw-relative;
  /* z-index only works in positioned contexts */
  z-index: 1;
}

header::after {
  content: "";
  @apply tw-pin tw-absolute tw-bg-center tw-bg-cover;
  /* order is from right(lowest) to left(highest) */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("~@img/hero.jpg");
  @if $cssenv == development {
    /* to see debug-grid toggle between 0, 0.2 or 1.0 */
    opacity: 1;
  }
  /* z-index only works in positioned contexts */
  z-index: -1;
}

nav {
  @apply tw-my-8;
  /* defines the height of the nav box*/
  @apply tw-h-24;
}

.br-nav-logo {
  @apply tw-float-left;
  /* inherit the height explicitly, else the image blows up to it's natural size */
  @apply tw-h-inherit;
}

.br-nav-main {
  @apply tw-relative tw-float-right;
}

.br-nav-main li {
  @apply tw-inline-block tw-ml-10;
}

.br-nav-main li a:link,
.br-nav-main li a:visited {
  @apply tw-py-2 tw-uppercase tw-text-2xl;
}

.br-nav-main li a:hover,
.br-nav-main li a:active {
  border-bottom-color: var(--main-accent-color-darker) !important;
}

.br-hero-box {
  max-width: var(--main-max-container-width);
  @apply tw-absolute tw-w-full;
}

/*-----------------------------------
HEADINGS
-------------------------------------*/

h1,
h2 {
  @apply tw-uppercase;
  @apply tw-tracking-wide;
  @apply tw-font-light;
}

h1 {
  word-spacing: 0.25em;
  color: var(--main-color);
  @apply tw-text-5xl;
  @apply tw-mb-8;
}

h2 {
  @apply tw-text-4xl;
  word-spacing: 0.125em;
  @apply tw-text-center;
}

h2:after {
  content: "";
  @apply tw-block tw-mx-auto tw-my-8 tw-h-1 tw-w-32;
  background-color: var(--main-accent-color);
}

/*-----------------------------------
FEATURES
-------------------------------------*/
